
import csv
def student(info_list):
    with open("student_info.csv","w+",newline="")as csvfile:
    writer=csv.writer(csvfile)
    if csvfile.tell()==0
       writer.writerow(["name","age","number"])
    writer=writerow(info_list)
condition=true
while(condition):
  student_info=input("enter details")
  student_info_list=student_info.split(' ')
  print(str(student_info_list))
  write_into_csv(student_info_list)
  conditioncheck=input("enter (yes or no) to write again")
  if conditioncheck==yes:
     condition=true
  else:
     condition=false
